{% extends 'base.html.twig' %}
{% block title %}Produkty{% endblock %}
{% block body %}
    <main>
        <section class="news">
            <img src="logo.jpg" alt="logo">
            <h1>Witamy w naszym sklepie online</h1>
            <h2>Tu każdy znajdzie coś dla siebie.</h2>
            <a href="{{ path('products_show') }}">
                <p>Przejdź do przeglądania produktów</p>
            </a>
            {% for new in news %}
                <article class="news-item">
                    <p class="news-title">{{ new }}</p>
                    <p class="news-date">Dodano dnia: 2025-02-23</p>
                    <p>{{ new }}</p>
                </article>
            {% endfor %}
        </section>
    </main>
{% endblock %}